<style>
  body {
    background: <%= @color %>;
  }
</style>

<h1>About</h1>
<p>Lots of interesting stuff</p>
<p>My favorite color is <%= @color %></p>

<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Red", about_path(color: "red"), class: "btn btn-primary" %>
